@tailwind base;
@tailwind components;
@tailwind utilities;

.signInButtonWrapper {
  color: #13376a;
  position: absolute;  
  top: 30px; 
  right: 30px; 
  display: inline-block;  
  margin: 0;  
}

.signInButtonWrapper:hover {
  color: #315e9e;
}

